@using NewCakeMakerASP.NET.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "BanhTheoType";
    Layout = "~/Views/Layout/TrangChuLayout.cshtml";
}
<link href="~/Content/TrangChuLayoutCss/Index.css" rel="stylesheet" />

@{
    if (@Model.Count == 0)
    {
        <h1>Không có Bánh nào thuộc danh mục này</h1>
    }
    if (@Model.Count == 0)
    {
        <h1>Không có Bánh nào thuộc danh mục này</h1>
    }
}
<div class="listSP">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <div id="ImageSp"><img src="@Url.Content("~/Image/" +item.Image)" width="100" height="150" /></div>
            <div id="ThongTinSP">
                <div id="NameSp"><span>@item.Name</span></div>
                <div id="PrinceSp"> Prince - @item.Prince</div>
                <div id="btnClick"><a href="@Url.Action("XemChiTiet","Cake",new {@id=item.ProductId })">Xem Sản Phẩm</a></div>
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @idProduct = item.ProductId, @strURL = Request.Url.ToString() }))
                {
                    <button class="add-to-cart btn btn-default" style="padding:5px;background-color:red; cursor:pointer" type="submit">THÊM GIỎI HÀNG</button>

                }

            </div>
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }

    }
</div>
<div style="clear:both"></div>
<div class="divMenuTrang">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

    @Html.PagedListPager(Model, page => Url.Action("BanhTheoType", new { page = page }))

</div>
<style>
    .divMenuTrang li {
        display: inline;
    }

    .divMenuTrang {
        margin-left: 100px;
    }
</style>


