@model NewCakeMakerASP.NET.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/TrangChuLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h2 style="text-align:center ; color:red">Bạn đã đặt hàng thành công</h2>
    <hr />
    <dl style="margin-left:100px" class="dl-horizontal">
        <dt style="color:blue">
            @Html.DisplayNameFor(model => model.TotalPrince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrince)
        </dd>

        <dt style="color:blue">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

  
        <dt  style="color:blue">
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

     

    </dl>
</div>
    
